<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <main class="interactive">
      <!-- content goes here -->

      <div id="top" class="reviews">

        <div class="wrapper">
          <div class="toggle_radio">
            <input type="radio" checked class="toggle_option" id="before_toggle" name="toggle_option">
            <input type="radio" class="toggle_option" id="after_toggle" name="toggle_option">
            <label class="label beforeLabel" id="beforeLabel" for="before_toggle"><div class="opacityOn">Before the<span></span> show</div></label>
            <label class="label afterLabel" id="afterLabel" for="after_toggle"><div>After the<span></span> show</div></label>
            <div class="toggle_option_slider"></div>
          </div>
        </div>

        <div class="beforeIntro before intro">
          <p class="byline">By Danielle Mohlman</p>
          <p class="staff-position">Special to The Seattle Times</p>
          <p><span class="dropcap beforeD">B</span>efore seeing “Mrs. Doubtfire” at The 5th Ave, these theater artists talked
            about their memories of seeing the original movie, what they think of the film now, their concerns about it being
            made into a musical and larger issues surrounding queer representation in the performing arts.</p>
        </div>

        <div class="afterIntro after intro">
          <p class="byline">By <a href="https://www.seattletimes.com/author/brendan-kiley/" target="_blank" rel="noreferrer noopener">Brendan Kiley</a></p>
          <p class="staff-position">Seattle Times arts and culture reporter</p>
          <p><span class="dropcap afterD">O</span>verall, “Mrs. Doubtfire” was a little better than the five theater artists expected.
            The sets were superb, the performances were great and some of the writing was surprisingly funny.
            But it still had big problems — especially the monster motif.</p>

          <p>A little setup: In the story, Daniel Hillard goes to a pair of stylists (Daniel’s brother and the brother’s husband)
            to create fictional nanny Mrs. Doubtfire. Predictably, the lie becomes unwieldy, triggering jokes and pathos and many,
            many costume changes. The musical surgically removed some of the movie’s more problematic jokes, but the overall
            comedy/drama math of the story (man + dress = funny; man + dress = deceit) was the same.</p>

          <p>As for the monster motif: When Daniel’s brother and brother-in-law first make up Mrs. Doubtfire,
            they shout “it’s aliiiive!” à la Dr. Frankenstein. There’s also a dramatic nightmare number about Daniel having
            “created a monster.” For some of the artists, this “monster” theme was one of several troubling misfires.</p>
        </div>

        <hr>

        <div class="review reviewOne">
          <div class="headshot">
            <img src="assets/review1.jpg"/>
            <figcaption class="caption">Jasmine Joshua (Courtesy of Jasmine Joshua)</figcaption>
          </div>
          <div class="stats">
            <h2 class="name">Jasmine Joshua</h2>
            <div class="job">Composer, lyricist, playwright, artistic director of Reboot Theatre Company</div>
            <div class="gender">Non-binary (they/them)</div>
          </div>
          <div class="divider"></div>
          <div class="beforeSummary before">
            <p>I was 9 years old when this movie came out. I loved Robin Williams. And I thought it was great.
              Any impropriety completely went over my head. I wasn’t even self-aware enough to have a moment of “Oh! They’re talking about me.”
              To me, it’s a period piece. There are a lot of “man in dress” jokes that I know now, as an adult and as a trans person,
              perpetuate a culture of gender binary and gender roles that I don’t ascribe to anymore. I love musical theater and there’s a
              lot of musical theater that’s the same way — like “Carousel”: “When he hit me, it felt like a kiss.” I mean, that is horrifying.</p>

            <p>I’m part of <a href="https://www.5thavenue.org/new-musical-development-program#first-draft-raise-your-voice" target="_blank" rel="noreferrer noopener">The 5th Avenue Theatre’s First Draft program</a> [a commissioning program designed to nurture new
              musical-theater writers from traditionally marginalized populations that is currently focusing] on women,
              trans and gender non-conforming playwrights. And maybe the money from these blockbusters is being fed into
              making new work [like Joshua’s “Here and Their”]. It’s an uncomfortable situation, but that’s kind of how I have to
              look at it. I am directly benefiting from The 5th Avenue. A person who literally walked off a Broadway stage 36 hours
              ago is learning my music. So, I have a complicated relationship to them doing this show.</p>
          </div>
          <div class="afterSummary after">
            <p>In a lot of ways, this musical was a lot smarter than I thought it would be.
              The guy playing Mrs. Doubtfire [Rob McClure]? Supremely talented human being. Did excellent voice work, his clowning was gorgeous.
               I was actually impressed.</p>

            <p>To me, the first uh-oh moment was the “Make Me a Woman” song [in which Daniel asks the stylists to transform
              him into Doubtfire]. That was unconscionable. They bring out all these beautiful white women like Grace Kelly and
              Jackie O., all these perfect Barbie dolls held up as the pinnacle of what womanhood is. Then Daniel is like:
              “Oh no, no — I don’t need to look like that. I’m an older woman and I’m stockier.” What is the next thing that happens?
              They had the men in the cast come out as women, who are seen as ugly and unattractive. So now it’s Eleanor Roosevelt,
              Janet Reno, Julia Child, randomly Margaret Thatcher. And why are they ugly? Because they’re men in dresses.
              And that’s ugly. I’m like: “You didn’t see that. <i>Why</i> didn’t you see that?”</p>

            <p>Then what happens when we transform Daniel into Mrs. Doubtfire? “It’s aliiiive!”</p>

            <p>“It’s”?! Come on!</p>

            <p>The entire monster number was sung fabulously [by Charity Angél Dawson]. I had to clap because, as a performer,
              I’m like “goddamn it.” But literally it was: “You created a monster, a monster, a monster.” We watched more people
              in drag come out as <i>monsters</i>, Daniel is literally fighting and hurting these men in dresses because they’re <i>monsters</i>.
              After awhile, I’m like: “Okay. I get it. I’m a monster. I’m a monster. <i>I’m</i> a monster.” That’s what I hear.</p>
          </div>
        </div>




        <div class="review reviewTwo">
          <div class="headshot">
            <img src="assets/review2.jpg"/>
            <figcaption class="caption">Justin Huertas (Hayley Young)</figcaption>
          </div>
          <div class="stats">
            <h2 class="name">Justin Huertas</h2>
            <div class="job">Actor, musician, composer-lyricist, playwright</div>
            <div class="gender">Queer, Filipino (he/him)</div>
          </div>
          <div class="divider"></div>
          <div class="beforeSummary before">
            <p>I remember watching “Mrs. Doubtfire” on VHS with my parents and brother and just loving it,
              because it was Robin Williams doing his Robin Williams thing. And then I watched it again as an adult and thought,
              “Hmm. Doesn’t age well, but I can appreciate it from a distance.” When I heard “Mrs. Doubtfire” was going to be adapted
              into a musical and premiering at The 5th Avenue, I just thought, “Why?” Who thought this was a good idea? How are they
              going to make this kind of story inclusive?</p>

            <p>The movie came out in a time [when] trans people were seen as freaks or criminals or entertainment.
              My only way of seeing anything remotely close to transgender was people dressed in drag on television, which was
              always a joke. I remember Jamie Foxx in one of his signature characters on “In Living Color”: a hilarious clown
              character in drag. And it was something that was easily played for laughs in the ’90s because those people were
              invisible in real life. So, for there to be an adaptation of “Mrs. Doubtfire” — which is about a straight white
              man trying to pass as female in order to get what he wants — that’s messed up.</p>
          </div>
          <div class="afterSummary after">
            <p>I went into it ready to hate it and was honestly surprised by how entertaining it was, and how funny a lot of it was.</p>

            <p>But at the same time, I just couldn’t get behind it because, baseline, I’m just over seeing new musicals
              that are redemption stories for problematic straight, white men. We’ve all seen that before. The fact that there’s
              another new show about that is driving me crazy — not to mention the fact that so much of the comedy, built around
              him being in disguise in a dress, is gross. Despite it being funny, I still felt this layer of slime I
              couldn’t wipe off.</p>

            <p>Then there were moments that felt like they were trying to add racial diversity but just pointed at the lack of it.</p>

            <p>In Act Two, when Mr. Jolly [a creaky, D-list, Mr. Rogers-ish character with a TV program] had this guest
              rapper on his show who barely said or did anything, it was like: “Look! We have a Black man!” Then there was the
              scene in the Spanish restaurant, with flamenco dancing and what I assume was a Latinx-identifying actress singing in some
              heavy accent about “deception” and “betrayal,” and the comedy is in the heavy accent. I thought: “I wonder if y’all
              think this is diversity.”</p>

            <p>The 5th Ave has such a giant, giant platform with such a huge audience base.
              I just wish their awesome and immense power had been used for something else.</p>
          </div>
        </div>


        <div class="review reviewThree">
          <div class="headshot">
            <img src="assets/review3.jpg"/>
            <figcaption class="caption">Seranine Elliot (Sarah Kathryn Wainwright)</figcaption>
          </div>
          <div class="stats">
            <h2 class="name">Seranine Elliot</h2>
            <div class="job">Multidisciplinary artist</div>
            <div class="gender">Intersex, autistic (she/her)</div>
          </div>
          <div class="divider"></div>
          <div class="beforeSummary before">
            <p>I didn’t see “Mrs. Doubtfire” in [movie] theaters. I actually watched it for the first time this week.
              And I thought: “Oh god. This is really bad.” I guess the important thing to remember is that this is all
              constructed from someone’s imagination of what someone like me must be — and they’re doing it without any direct
              experience.</p>

            <p>It’s so weird because there are so many parallels. I have kids and I’m cut off from them. We’re both entertainer-types.
              I very much read the main character of “Mrs. Doubtfire” as autistic, by the way. He’s such a strong mimic, who also
              has a weird devotion to some aspects of justice, but is also cut off from feeling and not able to really make meaningful
              steps toward anything. “Mrs. Doubtfire” is a horrible representation of my kind of person. And it also has a far greater
              reach than I’m ever going to get with my page or my albums. And a lot of that is because the narrative of
              “Mrs. Doubtfire” and the audience it serves — and the purpose that it serves, to keep soothing that audience
              into believing this is how things really are — means that this whole system benefits from continually producing and
              promoting media like this.</p>
          </div>
          <div class="afterSummary after">
            <p>It was like the It’s a Small World ride through all the tropes that make our culture [expletive].
              The people who will say these aren’t trans jokes because they’re not talking about a trans woman are the same people
              who will turn around and say I’m a man who’s lying and pretending to be a woman.</p>

            <p>You know what other movie came out the same year as “Mrs. Doubtfire”? “Dragon: The Bruce Lee Story.”
              There’s a sequence where Linda [Lee] takes Bruce to see her favorite movie, “Breakfast at Tiffany’s,”
              and Bruce gets to see the white-played stereotype of Chinese people on the screen. We get to see the moment where
              he’s sitting there watching and waiting to get the joke. Then Linda gets it. [She sees what Bruce is seeing.]
              Which is great; it lets people closer to Linda — white people — watching this movie understand. You could extrapolate
              that in so many ways. You could take someone like me being taken to some kind of movie or show. You wouldn’t have to
              have a deep dialogue about it — you could just pan over to someone’s face. That would be like watching us watch
              “Mrs. Doubtfire.”</p>
          </div>
        </div>



        <div class="review reviewFour">
          <div class="headshot">
            <img src="assets/review4.jpg"/>
            <figcaption class="caption">Nicholas Japaul Bernard (Sonia Xu)</figcaption>
          </div>
          <div class="stats">
            <h2 class="name">Nicholas Japaul Bernard</h2>
            <div class="job">Actor</div>
            <div class="gender">Black, queer, disabled (he/him)</div>
          </div>
          <div class="divider"></div>
          <div class="beforeSummary before">
            <p>I remember watching “Mrs. Doubtfire” on TV at the height of Robin Williams. I remember, at the time, thinking:
              “Oh, this is funny. This is hilarious.” I don’t think the movie was made with this intent in mind, but it makes this idea
              that a man dressing up as a woman is a joke. But now, we’re expanding our ideas of what gender is and what sexuality is,
              and those ideas can be a little dangerous.</p>

            <p>We tend to forget that the theater that we do exists in a capitalist system. It is a business and there are concessions
              that almost all theaters — especially large theaters — have to make in order to do other work. I’m not necessarily saying
              that I like that it’s a thing, but objectively speaking, that’s what it is. So a place like The 5th Avenue Theatre
              [might] feel that they have to do “Mrs. Doubtfire” in order to support [new work like] “Here and Their.”</p>
          </div>
          <div class="afterSummary after">
            <p>Overall, it’s a very good show. Really tight, goes right on by at the perfect pace.
              The ensemble was fantastic — one of the better ensembles I’ve ever seen.</p>

            <p>I think they did a good job of navigating the initial criticism, that the musical would uphold
              transphobic ideas and that the trope of a man in a dress would be used to mock trans people and queers
              who want to explore fluidity in gender. They got rid of the transphobic language of the movie.
              But the trope is still there. There’s no way you can do that show without the trope.</p>

            <p>A friend of mine observed that musical theater will always be museum art by the time it’s stage-ready.
              It takes years to get a musical ready for the 5th stage. By then, it’s dated.
              But if you’re going to put all these different wigs on a musical to make it key for 2019, you have to ask:
              “Why do all this work to unearth something that’s already been done?”</p>
          </div>
        </div>


        <div class="review reviewFive">
          <div class="headshot">
            <img src="assets/review5.jpg"/>
            <figcaption class="caption">Sam I’Am (Sarah Vasquez)</figcaption>
          </div>
          <div class="stats">
            <h2 class="name">Sam I’Am</h2>
            <div class="job">Actor, drag king, playwright-performer</div>
            <div class="gender">Nonbinary (they/them)</div>
          </div>
          <div class="divider"></div>
          <div class="beforeSummary before">
            <p>Robin Williams was one of my icons as a child. I remember having positive feelings toward “Mrs. Doubtfire.”
              I’m a single parent, and once I had my daughter, I remember being really creeped out by the idea that your ex could
              go to such lengths to get back into your life. In <a href="https://www.vice.com/en_us/article/a3xby5/trans-womans-killer-used-the-gay-panic-defense-its-still-legal-in-42-states" target="_blank" rel="noreferrer noopener">42 states</a>, it’s still legal to kill a trans woman under the argument
              that she tricked you because she was a man in a dress. So seeing this again, as an older person in my trans identity,
              I was like: “Oh wow. As if I didn’t already hate this enough as a single parent,
              I definitely hate this as a trans person.”</p>

            <p>I canceled my subscription to The 5th Avenue Theatre. It’s hard, because maybe I do want to see it,
              just to see what happens, but I just can’t imagine any way that it’s going to be good. There’s going to be an entire
              audience of people laughing. And that’s a death sentence. The “man in a dress” trope is one that always comes up because
              we have these cis actors playing trans women — and then they show up to accept their award in a beard. It reiterates
              the stereotype that this is a costume that you get to just put on and take off, instead of bringing to light that this
              is our lives. I think in 2019 there have already been <a href="https://www.hrc.org/blog/hrc-releases-annual-report-on-epidemic-of-anti-transgender-violence-2019" target="_blank" rel="noreferrer noopener">[at least 22] trans murders</a>. It’s a funny joke when you’re at
              The 5th Avenue Theatre and you paid hundreds of dollars to go, but it’s not funny when your sister dies. Where do we
              start to draw the line?”</p>
          </div>
          <div class="afterSummary after">
            <p>Why here, why now? Easy money.</p>

            <p>My reaction was watching these moments and thinking: “Wait, who was in the room when that choice was made?”</p>

            <p>It’s uncomfortable to be in a room with 2,000 people laughing at things that perpetuate a stereotype that murders
              people in our community. To me, it says: “We don’t care that you’re being laughed at, and furthermore, we don’t
              even care that you’re here. Because look at all this money we made.”</p>
          </div>
        </div>



      </div> <!--  reviews wrapper -->


      <div class="wrapper">
          <div class="toggle_radio" id="toggle_radio2">
            <input type="radio" checked class="toggle_option" id="before_toggle2" name="toggle_option2">
            <input type="radio" class="toggle_option" id="after_toggle2" name="toggle_option2">
            <label class="label beforeLabel" id="beforeLabel2" for="before_toggle2"><div class="opacityOn">Before the<span></span> show</div></label>
            <label class="label afterLabel" id="afterLabel2" for="after_toggle2"><div>After the<span></span> show</div></label>
            <div class="toggle_option_slider2"></div>
          </div>
      </div>

    </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
